@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}




body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

/* Light theme */
.light {
  --bg-color: #ffffff;
  --text-color: #222222;
}

/* Dark theme */
.dark {
  --bg-color: #313131;
  --text-color: #ffffff;
}

/* Apply theme variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}
